.DS_Store

auto-save-list
elpa
eshell
games
ido.last
smex-items
url
tramp
projectile-bookmarks.eld
abbrev_defs
.cache

*.elc
conf.el
#*#

straight
recentf
bookmarks
transient
var
semanticdb
projects
org-roam.db
thumbs

xkcd
image-dired
newsticker